
// Header Background


.headerHome {
  background-image: url(./project-1-textilee/textilee-assets/header-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerBlog {
    width: 100%;
    position: absolute;
}

// .headerContact {
//   background-image: url(./project-1-textilee/textilee-assets/contact-header.jpg);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// Home Page Header Styles

.headerHome2 {
  width: 50%;
  position: relative;
  z-index: 1;
  top: 200px;
}

.headerHome h2 {
  @include header(2.5rem);
  height: 300px;
  width: 655px;
  position: absolute;
  z-index: 2;
  top: 135px;
  left: 7%;
}


// Blog Header Styles

.blogTitle{
    @include header(2.5rem);
    position: relative;
    width: 15%;
    left: 7%;
}


// Contact Page

.contactHeaderBackground{
    background-image: url(./project-1-textilee/textilee-assets/contact-header.jpg);
	background-repeat: no-repeat;
	position: relative;
    background-size: cover;
    height: 525px;
}