@mixin navFont($sizeValue) {
    font-size: $sizeValue;
    color: $darkSlateBlue;
    letter-spacing: 1.4px;
    font-family: "Lato";
    text-decoration: none;
    text-transform: uppercase;
    list-style:none;
    margin-left: 20px;
    margin-right: 20px;
}

@mixin title($sizeValue) {
    font-size: $sizeValue;
    color: $blackTwo;
    font-family: "Pacifico";
    margin: 0;
    font-weight: lighter;
    letter-spacing: 2px;
 
}

@mixin header($sizeValue) {
    font-size: $sizeValue;
    color: $darkSlateBlue;
    font-family: "Pacifico";
    margin: 0;
    font-weight: lighter;
    letter-spacing: 2px;
    
}

nav a {
    @include navFont(.75rem);
}

h1 {
    @include title(1rem);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding:30px 0 65px 40px;
    width: 90%;
}

nav ul li a.activePage{
    border-bottom: $turquoiseBlue 1px solid;
}

