$darkSlateBlue: #1a315c;
$lightSkyBlue: #ccedfb;
$turquoiseBlue: #0cadc0;
$black: #1e1713;
$blackTwo: #161515;
$white: #fff;
$baseFont: "Lato";

@import "normalize";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap");
@import "nav";
@import "footer";
@import "buttons";
@import "header";

@mixin paragraphBlack($sizeValue) {
  font-size: $sizeValue;
  font-family: "Lato";
  color: $black;
  letter-spacing: 2px;
  line-height: 23px;
}

@mixin paragraphWhite($sizeValue) {
    font-size: $sizeValue;
    font-family: "Lato";
    color: $white;
    letter-spacing: 2px;
    line-height: 23px;;
    
}

@mixin whiteHeader($sizeValue){
  font-size: $sizeValue;
  color: $white;
  font-family: "Pacifico";
  margin: 0;
  font-weight: lighter;
  letter-spacing: 2px;
  padding-top: 30px;
  padding-bottom: 20px;
}
    


html {
  font-size: 125%;
}

.wrapper {
  max-width: 1900px;
  margin: 0 auto;
}



h3 {
  @include header(1.5rem);
  padding-top: 30px;
  padding-bottom: 20px;
}

.learnNewTechniques {
  position: relative;
  top: 0;
  background-color: $lightSkyBlue;
  padding: 20% 8% 8%;
}


.newTechniquesFlex {
  display: flex;
  justify-content: space-around;
  gap: 45px;
}

.paragraphButtonFlex {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.paragraphBlack {
  @include paragraphBlack(0.75rem);
}

.learnNewTechniques .paragraphBlack {
  width: 95%;
}

.smallBoxImg {
  width: 25%;
  height: 25%;  
  box-shadow: -15px 15px $turquoiseBlue;
}


.gallery {
  background-color: rgb(30, 56, 69);
}

.galleryFlex {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 75px;
  gap:30px;
}

.infoSection {
  background-color: $lightSkyBlue;
  padding: 50px 125px 75px 150px;

  p{
      text-align: justify;
  }
  h3{
      margin-left: 12px;
  }
}


.upcomingEventsTitleFlex,
.communityTitleFlex,
.blogTitleFlex,
.getInTouchTitleFlex {
  display: flex;
  margin-left: -60px;
}



.eventsAndCommunity,
.blogAndContact {
  display: grid;
  gap:100px;
  grid-template-columns: repeat(2, 1fr);
}

.fas {
  color: $white;
  background-color: $turquoiseBlue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding-top: 8px;
  margin-top: 10px;
  margin-right: 10px;
  align-self: center;
}

.colouredRope {
  background-image: url(./project-1-textilee/textilee-assets/banner.jpg);
  background-size: cover;
  background-position: center;
  object-fit: contain;
  height: 500px;
}

.searchByStyle {
  background-color: $lightSkyBlue;
}

.searchByStyleContent {
  text-align: center;
  padding: 100px 250px 100px 250px;
}


.discoverNewLocations{
    background-color: rgb(30, 56, 69);
}

.newLocationsFlex,
.discoverOnlineMarketFlex {
    display: flex;
    justify-content: space-between;
}

.newLocationsParagraph,
.onlineMarketParagraph{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.newLocationsParagraph{
   text-align: right;
   margin-left: 91px;
   padding-top: 20px;
}

.onlineMarketParagraph{
    text-align: left;
    margin-right: 95px;
    margin-top: 40px
}

.paragraphWhite{
    @include paragraphWhite(0.75rem)
}




h4 {
    @include whiteHeader(1.5rem)
}

.rightImage {
   box-shadow: -15px 15px #0cadc0;
   position: relative;
   bottom: -35px;
   width: 40%;
}

.leftImage{
    box-shadow: 15px 15px #0cadc0;
    position: relative;
    top:-30px;
    width: 40%;
}

