$darkSlateBlue: #1A315C;
$lightSkyBlue:#CCEDFB;
$turquoiseBlue:#0CADC0;
$black: #1E1713;
$blackTwo:#161515;
$white: #fff;
$baseFont:"Lato";

@import "normalize";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap');
@import "nav";

html{
    font-size: 125%;
}

h2 {
    @include header(2.5rem);
    height:300px;
    width: 750px;
    position: absolute;
    z-index: 2;
    top: 200px;

}

.headerHome{
    position: relative;
    z-index: 1;
    width: 100%;
}