$darkSlateBlue: #1a315c;
$lightSkyBlue: #ccedfb;
$turquoiseBlue: #0cadc0;
$black: #1e1713;
$blackTwo: #161515;
$white: #fff;
$baseFont: "Lato";

@import "normalize";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap");
@import "nav";
@import "footer";
@import "buttons";
@import "header";

@mixin paragraphBlack($sizeValue) {
  font-size: $sizeValue;
  font-family: "Lato";
  color: $black;
  letter-spacing: 2px;
  line-height: 23px;
}

@mixin paragraphWhite($sizeValue) {
  font-size: $sizeValue;
  font-family: "Lato";
  color: $white;
  letter-spacing: 2px;
  line-height: 23px;
}

@mixin whiteHeader($sizeValue) {
  font-size: $sizeValue;
  color: $white;
  font-family: "Pacifico";
  margin: 0;
  font-weight: lighter;
  letter-spacing: 2px;
  padding-top: 30px;
  padding-bottom: 20px;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1900px;
  margin: 0 auto;
  height: auto;
}

h3 {
  @include header(1.5rem);
  padding-top: 30px;
  padding-bottom: 20px;
}

.learnNewTechniques {
  position: relative;
  top: 0;
  background-color: $lightSkyBlue;
  padding: 20% 8% 8%;
}

.newTechniquesFlex {
  display: flex;
  justify-content: space-around;
  gap: 45px;
}

.paragraphButtonFlex {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.paragraphBlack {
  @include paragraphBlack(0.75rem);
}

.learnNewTechniques .paragraphBlack {
  width: 95%;
}

.smallBoxImg {
  width: 25%;
  height: 25%;
  box-shadow: -15px 15px $turquoiseBlue;
}

.gallery {
  background-color: rgb(30, 56, 69);
}

.galleryFlex {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 75px;
  gap: 30px;
}

.infoSection {
  background-color: $lightSkyBlue;
  padding: 50px 125px 75px 150px;

  p {
    text-align: justify;
  }
  h3 {
    margin-left: 12px;
  }
}

.upcomingEventsTitleFlex,
.communityTitleFlex,
.blogTitleFlex,
.getInTouchTitleFlex {
  display: flex;
  margin-left: -60px;
}

.eventsAndCommunity,
.blogAndContact {
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(2, 1fr);
}

.fas {
  color: $white;
  background-color: $turquoiseBlue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding-top: 8px;
  margin-top: 10px;
  margin-right: 10px;
  align-self: center;
}

.colouredRope {
  background-image: url(./project-1-textilee/textilee-assets/banner.jpg);
  background-size: cover;
  background-position: center;
  object-fit: contain;
  height: 500px;
}

.searchByStyle {
  background-color: $lightSkyBlue;
}

.searchByStyleContent {
  text-align: center;
  padding: 100px 250px 100px 250px;
}

.discoverNewLocations {
  background-color: rgb(30, 56, 69);
}

.newLocationsFlex,
.discoverOnlineMarketFlex {
  display: flex;
  justify-content: space-between;
}

.newLocationsParagraph,
.onlineMarketParagraph {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.newLocationsParagraph {
  text-align: right;
  margin-left: 91px;
  padding-top: 20px;
}

.onlineMarketParagraph {
  text-align: left;
  margin-right: 95px;
  margin-top: 40px;
}

.paragraphWhite {
  @include paragraphWhite(0.75rem);
}

h4 {
  @include whiteHeader(1.5rem);
}

.rightImage {
  box-shadow: -15px 15px #0cadc0;
  position: relative;
  bottom: -35px;
  width: 40%;
}

.leftImage {
  box-shadow: 15px 15px #0cadc0;
  position: relative;
  top: -30px;
  width: 40%;
}

// Blog

.mainSection {
  background-color: #ccedfb;
  display: flex;
  justify-content: space-between;
}

.ourNewCollection {
  width: 55%;
  background-color: rgb(30, 56, 69);
  box-shadow: 15px #0cadc0;
  border-bottom: $turquoiseBlue 15px solid;
  position: relative;
  top: 180px;
  .date {
    color: #ccedfb;
    padding-left: 100px;
  }
  p {
    @include paragraphWhite(0.75rem);
    display: inline;
    white-space: pre-line;
  }
}

.fullBlogEntry > h4:nth-child(1) {
  padding-left: 100px;
}

.sideBar {
  width: 20%;
  background-color: rgb(30, 56, 69);
  align-self: flex-end;

  img {
    width: 95%;
    position: relative;
    top: -15px;
    right: -15px;
    object-fit: none;
  }

  ul {
    padding-left: 10px;
    @include paragraphWhite(0.75rem);
  }
}

.sideBarContent {
  width: 90%;
  text-align: left;
  padding-left: 25px;
  padding-bottom: 20px;

  h4:nth-child(1) {
    padding-top: 6px;
  }
}
.commentOneImg {
    object-fit: contain;
width: 30%;
    
}

.commentTwoImg{
    object-fit: contain;
    width: 20%;
}
.blogComments {
  background-color: #ccedfb;
}

div.commentFlex:nth-child(3) {
 padding-top: 20px;
}


.commentHeader {
  @include title(1.5rem); 
  padding-top: 30px;
  padding-bottom: 40px;
  letter-spacing: 3px;
}

.commentDate {
  font-size: 0.75rem;
  color: $darkSlateBlue;
  font-weight: bold;
  font-family: "Lato";
  letter-spacing: 2px;
  line-height: 23px;
}

.commentsContainer {
  height: 600px;
  width: 75%;
  padding-top: 200px;
  padding-left: 7%;
}

.blogPostImage {
  width: 98.1%;
  box-shadow: 15px 15px #0cadc0;
  position: relative;
  top: -16px;
}

.blogEntry {
  padding-left: 100px;
  padding-bottom: 75px;
}

.fullBlogEntry {
  border-right: $turquoiseBlue 15px solid;
  margin-top: -7px;
}
.blogComment {
  @include paragraphBlack(0.5rem);
  font-size: 0.6rem;
  letter-spacing: 1.5px;
  line-height: 20px;
}

.dateAndComment{
    padding-top: 30px;
}

div.commentFlex:nth-child(2) > div:nth-child(2) > p:nth-child(1) {
 padding-top: 10px;
}

.commentFlex {
  display: flex;
  gap: 30px;
  width: 75%;
}

.blogCommentForm {
  height: 500px;
  width: 50%;
  margin-left: 7%;
}

.nameAndEmailInput {
  display: flex;
}

.commentAndSubmit {
  display: flex;
  flex-direction: column;
}

#comment {
  resize: none;
  background: transparent;
  border: none;
  border: $turquoiseBlue 2px solid;
  width: 85%;
  margin: 30px auto;
}

// Contact Page

.headerContact h2 {
  @include header(2.5rem);
  position: relative;
  left: 7%;
}

.contactMainSection {
  background-color: #ccedfb;
  display: flex;
  justify-content: space-between;
}

.contactForm {
  background-color: rgb(30, 56, 69);
  box-shadow: 15px 15px #0cadc0;
  width: 60%;
  height: 600px;
  position: relative;
  top: -150px;
  left: 7%;
}
.nameAndEmailInput {
  margin-top: 50px;
  margin-left: 7.5%;
  gap: 32px;
  margin-right: 7.5%;
}

#name,
#email {
  width: 50%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #0cadc0;
  padding: 20px;
}

#comment {
  padding: 20px;
}

#name::placeholder,
#email::placeholder,
#comment::placeholder {
  font-size: 0.75rem;
  font-family: "Lato";
  font-weight: lighter;
  letter-spacing: 2px;
  opacity: 1;
  color: $white;
  padding-bottom: 25px;
  margin-top: 0px;
}

.submitButton {
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  font-family: "Pacifico";
  background-color: #cad8f8;
  border: none;
}
.contactInfo {
  width: 17%;
  align-self: center;
  margin-right: 100px;
  text-align: left;
  display: inline;
  white-space: pre-line;
  line-height: 10px;
}

.socialIcons {
  display: flex;
  letter-spacing: 24px;
}

.fab {
  color: $darkSlateBlue;
}
